{% extends 'base.html' %}

{% block header %}
    <!-- <h1>{% block title %}Book "{{ book['title'] }}" {% endblock %}</h1> -->
{% endblock %}

{% block content %}
    <h1>{{ book['title'] }}</h1>
    <h6>ISBN: {{ book['isbn'] }}</h6>
    <h6>Author: {{ book['author'] }}</h6>
    <h6>Publication Year: {{ book['year'] }}</h6>
    <br>
    <h4>My Reviews</h4>
    {% if userreview == true %}
        <table class="table table-hover">
            <tbody>
            {% for review in reviews %}
                <tr>                        
                    {% if g.user['id'] == review['id'] %}
                        <td>{{ review['reviews'] }} <br><a href="{{ url_for('books.update', id=review['review_id']) }}">Edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h6>To comment on this book. Click <a href="{{ url_for('books.create', id=book['id']) }}">Here</a></h6>
        <br>
    {% endif %}
    <h4>Other Reviews</h4>
    {% if reviews | length > 0 %}
        <table class="table table-hover">
            <tbody>
            {% for review in reviews %}
                <tr>
                    {% if g.user['id'] != review['id'] %}
                        <td>{{ review['reviews'] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h6>No reviews for this book!</h6>
    {% endif %}
{% endblock %}