{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Books{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="form-group">
            <input type="search" placeholder="Search by ISBN, Book Title or Author Name" class="form-control">
        </div>
        <!-- <input type="submit" value="Search" class="btn btn-primary"> -->
    </form>
    <table class="table table-hover">
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ url_for('books.bookpage', id=book['id'])}}">{{ book['title'] }}</a></td>
            </tr>
            <!-- <article class="post">
                <header>
                    <div>
                        <h1>{{ book['title'] }}</h1>
                        <div class="about">by {{ book['author'] }} published in {{ book['year'] }}</div>
                        <div class="about">ISBN: {{ book['isbn'] }}</div>
                    </div>
                </header>
            </article> -->
            <!-- {% if not loop.last %} -->
                <!-- <hr>
            {% endif %} -->
        {% endfor %}
        </tbody>
    </table>
{% endblock %}